/*====================================================================*/
/*------------------------------- MAIN -------------------------------*/
/*====================================================================*/

/* Základní globální styly obsahu webu.
 * Chcete-li upravit konkrétní element, je vhodné pro něj vytvořit
 * samostatnou třídu nebo před selektor tagu přidat selektor komponentu,
 * jehož je element součástí. Přepisování stylů pomocí názvů tagů může
 * způsobit nepředvídatelné výsledky ve zbytku stránky.
 */

/* Velikost písma na elementu html je nastavena na 6.25%,
 * s jednotkami rem tak lze zacházet jako s jednotkami px.
 */

/* Odstraní posuvníky v Chromu, pokud je stránka upravována
 * pomocí Live Preview v editoru Brackets. Simulace mobilních
 * systémů, kde posuvník nezmenšuje obsah. */
html[data-brackets-id]::-webkit-scrollbar {
    display: none;
}

@-ms-viewport {
    width: device-width;
}

:root:lang(cs),
:not(:lang(cs)) > :lang(cs) {
    quotes: "\201e" "\201c" "\201a" "\2018"
}

* {
    box-sizing: border-box;

    font-family: inherit;
}

:after,
:before {
    box-sizing: inherit;
}

html {
    /*1rem = 1px*/
    font-size: 6.25%;
    -webkit-text-size-adjust: 100%;

    background-color: #fff;
}

/*html,
body {
    height: 100%;
}*/

html.no-js,
.no-js body {
    scroll-behavior: smooth;
}

/* Odstraňuje focus v IE. */
html:focus,
body:focus {
    outline: none;
}

body {
    /*display: flex;*/
    /*flex-direction: column;*/

    min-width: 320rem;

    font-family: sans-serif;
    font-size: 21rem;
    line-height: 1.4285714;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    text-rendering: optimizeLegibility;
}

@media (max-width: 1023px) {

    body {
        font-size: 19rem;
        line-height: 1.578947;
    }
}

@media (max-width: 639px) {

    body {
        font-size: 17rem;
        line-height: 1.58823529;
    }
}

svg:not(:root) {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    margin-bottom: 40rem;

    font-size: 88rem;
    line-height: 1;
}

h2 {
    margin-bottom: 34rem;

    font-size: 64rem;
    line-height: 68rem;
}

h3 {
    margin-bottom: 21rem;

    font-size: 40rem;
    line-height: 45rem;
}

@media (max-width: 1259px) {

    h1 {
        font-size: 78rem;
    }
}

@media (max-width: 1023px) {

    h1 {
        margin-bottom: 34rem;

        font-size: 64rem;
    }

    h2 {
        font-size: 50rem;
        line-height: 55rem;
    }

    h3 {
        font-size: 34rem;
        line-height: 38rem;
    }
}

@media (max-width: 767px) {

    h2 {
        font-size: 45rem;
        line-height: 50rem;
    }
}

@media (max-width: 639px) {

    h1 {
        margin-bottom: 24rem;

        font-size: 58rem;
    }

    h2 {
        margin-bottom: 30rem;

        font-size: 40rem;
        line-height: 45rem;
    }

    h3 {
        margin-bottom: 19rem;

        font-size: 27rem;
        line-height: 34rem;
    }
}

@media (max-width: 479px) {

    h2 {
        font-size: 2.3125rem;
        line-height: 2.5rem;
    }
}

q,
blockquote:not([class*="__"]) {
    quotes: inherit;

    font-style: italic;
}

    blockquote:not([class*="__"]) p {
        font-size: inherit;
    }

    blockquote:not([class*="__"]) p:first-of-type:before {
        content: open-quote;
    }

    blockquote:not([class*="__"]) p:last-of-type:after {
        content: close-quote;
    }

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

p:not([class*="__"]),
ol:not([class]),
ul:not([class]),
dl:not([class]),
hr:not([class*="__"]),
img:not([class*="__"]),
table:not([class]),
figure:not([class*="__"]) {
    margin-bottom: 34rem;
}

@media (max-width: 1023px) {

    p:not([class*="__"]),
    ol:not([class]),
    ul:not([class]),
    dl:not([class]),
    hr:not([class*="__"]),
    img:not([class*="__"]),
    table:not([class]),
    figure:not([class*="__"]) {
        margin-bottom: 30rem;
    }
}

@media (max-width: 639px) {

    p:not([class*="__"]),
    ol:not([class]),
    ul:not([class]),
    dl:not([class]),
    hr:not([class*="__"]),
    img:not([class*="__"]),
    table:not([class]),
    figure:not([class*="__"]) {
        margin-bottom: 27rem;
    }
}

img:not([class*="__"]) {
    max-width: 100%;
}

img[alt]:not([class*="__"]) {
    font-style: italic;
}

figure:not([class*="__"]) img {
    margin-bottom: 7rem;
}

figcaption:not([class*="__"]) {
    font-size: 19rem;
    font-style: italic;
}

@media (max-width: 1023px) {

    figcaption:not([class*="__"]) {
        font-size: 15rem;
    }
}

ol:not([class]) {
    list-style: decimal inside;
}

ul:not([class]) {
    list-style: disc inside;
}

li:not([class*="__"]),
dt:not([class*="__"]),
dd:not([class*="__"]) {
    margin-bottom: 30rem;
}

@media (max-width: 639px) {

    li:not([class*="__"]),
    dt:not([class*="__"]),
    dd:not([class*="__"]) {
        margin-bottom: 27rem;
    }
}

a:not([class*="__"]) {
    text-decoration: underline;

    color: var(--color-dark);
}

a:not([class*="__"]):hover,
a:not([class*="__"]):focus {
    color: var(--color-secondary);
}

@supports (text-decoration-color: red) {

    a:not([class*="__"]) {
        text-decoration-color: rgba(var(--color-primary-rgb), 0.5);
    }

    a:not([class*="__"]):focus {
        text-decoration-color: currentColor;
    }
}

a:not([class*="__"]):visited:not(:hover):not(:focus) {
    color: var(--color-primary);
}

b,
strong {
    font-weight: 600;
}

i,
em,
cite {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

s:before,
s:after {
    position: absolute;

    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);

    overflow: hidden;
}

s:before {
    content: "začátek přeškrtnutého textu";
}

s:after {
    content: "konec přeškrtnutého textu";
}

u {
    text-decoration: underline;
}

a,
p,
li,
.text,
[class~="-"] {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

caption {
    margin-bottom: 7rem;

    font-weight: 600;
}

@media (max-width: 1023px) {

    caption {
        text-align: left;
    }
}

table:not([class]) {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1023px) {

    table:not([class]) {
        margin-left: 0;
    }
}

@media (max-width: 639px) {

    table:not([class]) {
        width: 100%;
    }
}

    tr:nth-child(even) {
        background-color: var(--color-light);
    }

        th:not([class*="__"]),
        td:not([class*="__"]) {
            padding: 10rem 20rem;

            text-align: left;
            vertical-align: middle;
        }

        @media (max-width: 1023px) {

            th:first-child:not([class*="__"]),
            td:first-child:not([class*="__"]) {
                padding-left: 0;
            }

            th:last-child:not([class*="__"]),
            td:last-child:not([class*="__"]) {
                padding-right: 0;
            }
        }

        @media (max-width: 639px) {

            th:not([class*="__"]),
            td:not([class*="__"]) {
                padding: 8rem 15rem;
            }
        }

        th:not([class*="__"]) {
            font-weight: 600;

            border-bottom: 1rem solid var(--color-highlight);
        }

hr {
    border: none;
    border-top: 1rem solid var(--color-highlight);
}
