/*---------------------------- CAUDEX ----------------------------*/

@font-face {
    font-family: Caudex;
    src: url("caudex-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Caudex;
    src: url("caudex-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Caudex;
    src: url("caudex-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Caudex;
    src: url("caudex-bolditalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*---------------------------- JOSEFIN SANS ----------------------------*/

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-bolditalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-lightitalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-thinitalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Josefin Sans;
    src: url("josefinsans-semibolditalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/*---------------------------- PT MONO ----------------------------*/

@font-face {
    font-family: PT Mono;
    src: url("ptmono.woff2") format("woff2");
    font-display: swap;
}
