/*====================================================================*/
/*------------------------- PROGRESS-SECTION -------------------------*/
/*====================================================================*/

.progress-section__list {
    margin-bottom: 2rem;
}

@media (max-width: 1023px) {

    .progress-section__list {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 639px) {

    .progress-section__list {
        margin-bottom: 1rem;
    }
}

    .progress-section__item {
        position: relative;

        padding-right: 4rem;
        padding-bottom: 5rem;
        padding-left: 4rem;
    }

    @media (max-width: 1023px) {

        .progress-section__item {
            padding-right: 3.4rem;
            padding-bottom: 4.5rem;
            padding-left: 3.4rem;
        }
    }

    @media (max-width: 639px) {

        .progress-section__item {
            padding-right: 2.8rem;
            padding-bottom: 3.4rem;
            padding-left: 2.8rem;
        }
    }

    .progress-section__item:not(:last-child):before {
        height: calc(100% - 0.1rem);

        border-left: 0.1rem dashed var(--color-highlight);
    }

    .progress-section__item:after {
        width: 1.2rem;
        height: 1.2rem;

        transform: translateX(-50%) translateY(-25%);

        background-color: var(--color-highlight);
        border-radius: 50%;
    }

    .progress-section__item:before,
    .progress-section__item:after {
        content: "";

        position: absolute;
        top: calc(4.7rem / 2);
        left: 0;
    }

    @media (max-width: 1023px) {

        .progress-section__item:before,
        .progress-section__item:after {
            top: calc(3.7rem / 2);
        }
    }

    @media (max-width: 767px) {

        .progress-section__item:before,
        .progress-section__item:after {
            left: 0.6rem;
        }
    }

    @media (max-width: 639px) {

        .progress-section__item:before,
        .progress-section__item:after {
            top: calc(3.4rem / 2);
        }

        .progress-section__item:after {
            width: 1rem;
            height: 1rem;
        }
    }

    @media (max-width: 479px) {

        .progress-section__item:before,
        .progress-section__item:after {
            top: calc(3rem / 2);
        }
    }

            .progress-section__subtitle ~ p {
                font-style: italic;
            }

            .progress-section__subtitle ~ p:last-child {
                margin-bottom: 0;
            }

@media (min-width: 1260px) {}
@media (min-width: 1540px) {}
@media (min-width: 1260px) and (max-width: 1539px) {}
@media (min-width: 768px) and (max-width: 1259px) {}
@media (min-width: 1024px) and (max-width: 1259px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (max-width: 767px) {}
@media (min-width: 640px) and (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 639px) {}
@media (max-width: 479px) {}
