/*====================================================================*/
/*------------------------ REFERENCES-SECTION ------------------------*/
/*====================================================================*/

.references-section {
    background: url("../../../img/references__bg.svg") -25% -25% repeat;
    background-attachment: fixed;
}

@media (max-width: 1023px) {

    .references-section {
        background-size: 1260px 1260px;
    }
}

/*--------------------------------------------------------------------*/
/*---------------------------- REFERENCES ----------------------------*/
/*--------------------------------------------------------------------*/

.references-section__references {
    max-width: 192rem;
    padding: 0 0.5rem;
    margin-right: auto;
    margin-left: auto;

    font-size: 0;

    pointer-events: none;
}

.references-section--narrow .references-section__references {
    max-width: 154rem;
}

@media (min-width: 640px) and (max-width: 799px),
    (min-width: 420px) and (max-width: 499px) {

        .references-section__references {
            padding: 0 0.4rem;
        }
}

@media (min-width: 360px) and (max-width: 419px) {

    .references-section__references {
        padding: 0 0.3rem;
    }
}

    .references-section__header,
    .references-section__image-link {
        display: inline-block;

        width: calc(100% / 6 - 0.5rem * 2);
        margin: 0.5rem;

        vertical-align: top;

        background: var(--color-dark);

        overflow: hidden;
    }

    _:-ms-lang(x), .references-section__header,
    _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
        width: calc(99.95% / 6 - 0.5rem * 2);
    }

    @media (min-width: 1540px) {

        .references-section--narrow .references-section__header,
        .references-section--narrow .references-section__image-link {
            width: calc(100% / 5 - 0.5rem * 2);
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 5 - 0.5rem * 2);
        }
    }

    @media (max-width: 1539px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 5 - 0.5rem * 2);
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 5 - 0.5rem * 2);
        }
    }

    @media (max-width: 1259px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 4 - 0.5rem * 2);
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 4 - 0.5rem * 2);
        }
    }

    @media (max-width: 1023px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 3 - 0.5rem * 2);
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 3 - 0.5rem * 2);
        }
    }

    @media (min-width: 640px) and (max-width: 799px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 3 - 0.4rem * 2);
            margin: 0.4rem;
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 3 - 0.4rem * 2);
        }
    }

    @media (max-width: 639px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 2 - 0.5rem * 2);
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 2 - 0.5rem * 2);
        }
    }

    @media (min-width: 420px) and (max-width: 499px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 2 - 0.4rem * 2);
            margin: 0.4rem;
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 2 - 0.4rem * 2);
        }
    }

    @media (min-width: 360px) and (max-width: 419px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 2 - 0.3rem * 2);
            margin: 0.3rem;
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 2 - 0.3rem * 2);
        }
    }

    @media (max-width: 359px) {

        .references-section__header,
        .references-section__image-link {
            width: calc(100% / 1 - 1rem * 2);
            margin-right: 1rem;
            margin-left: 1rem;
        }

        _:-ms-lang(x), .references-section__header,
        _:-ms-lang(x), .references-section__image-link { /* IE / Edge */
            width: calc(99.95% / 1 - 1rem * 2);
        }
    }

/*---------------------------- HEADER ----------------------------*/

.references-section__header {
    border: 0.1rem solid currentColor;
}

    .references-section__header-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 2.1rem;
    }

    .references-section__header--center .references-section__header-content {
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    @media (min-width: 640px) and (max-width: 799px),
        (min-width: 420px) and (max-width: 499px) {

            .references-section__header-content {
                padding: 1.6rem;
            }
    }

    @media (min-width: 360px) and (max-width: 419px) {

        .references-section__header-content {
            padding: 1.4rem;
        }
    }

        .references-section__header-content * {
            pointer-events: auto;
        }

        .references-section__project-name {
            max-width: 100%;
            margin-bottom: 0.7rem;

            font-size: 1.9rem;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 2.5rem;
            letter-spacing: 0.06em;
        }

        @media (min-width: 640px) and (max-width: 799px),
            (min-width: 420px) and (max-width: 499px) {

                .references-section__project-name {
                    margin-bottom: 0.5rem;

                    font-size: 1.7rem;
                    line-height: 2.1rem;
                }
        }

        @media (min-width: 360px) and (max-width: 419px) {

            .references-section__project-name {
                margin-bottom: 0.4rem;

                font-size: 1.5rem;
                line-height: 1.9rem;
            }
        }

        .references-section__project-name:only-child {
            margin-bottom: 0;

            line-height: 3.4rem;
        }

        @media (min-width: 640px) and (max-width: 799px),
            (min-width: 420px) and (max-width: 499px) {

                .references-section__project-name:only-child {
                    line-height: 2.8rem;
                }
        }

        @media (min-width: 360px) and (max-width: 419px) {

            .references-section__project-name:only-child {
                line-height: 2.5rem;
            }
        }

            .references-section__project-name .ui-text-arrow {
                margin-right: 0;
                margin-left: 0.2rem;

                stroke-width: 2;
            }

        .references-section__description {
            max-width: 100%;

            font-size: 1.5rem;
            font-style: italic;
            font-weight: 400;
            line-height: 2.1rem;
            letter-spacing: 0.01em;
        }

        @media (min-width: 640px) and (max-width: 799px),
            (min-width: 420px) and (max-width: 499px) {

                .references-section__description {
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                    letter-spacing: 0.025em;
                }
        }

        @media (min-width: 360px) and (max-width: 419px) {

            .references-section__description {
                font-size: 1.3rem;
                line-height: 1.7rem;
                letter-spacing: 0.025em;
            }
        }

/*------------------------------ COLORS ------------------------------*/

.references-section__header {
    color: #9EC9C7;
}

.references-section__header ~ .references-section__header {
    color: #D4A6AA;
}

.references-section__header ~ .references-section__header ~ .references-section__header {
    color: #8A9194;
}

/*---------------------------- IMAGE ----------------------------*/

.references-section__image-link {
    position: relative;

    outline-offset: -0.2rem;

    pointer-events: auto;
}

.references-section__image-link:not(:hover):not(:focus):not(:active) {
    transition-delay: 0.05s;
}

.references-section__image-link:before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

    width: 100%;
    height: 100%;

    border: 0.3rem solid var(--color-light);
    opacity: 0;

    transition: inherit;
    transition-property: opacity;
}

@media (min-width: 360px) and (max-width: 419px) {

    .references-section__image-link:before {
        border-width: 0.2rem;
    }
}

.references-section__image-link:focus:before {
    opacity: 1;
}

    .references-section__img {
        opacity: 0.7;

        transition: inherit;
        will-change: opacity;
    }

    .references-section__references:hover .references-section__img,
    .references-section__references[focus-within] .references-section__img {
        opacity: 0.6;
    }

    .references-section__references:focus-within .references-section__img {
        opacity: 0.6;
    }

    .references-section__image-link:hover .references-section__img,
    .references-section__image-link:focus .references-section__img {
        opacity: 1;
    }

@media (min-width: 1260px) {}
@media (min-width: 1540px) {}
@media (min-width: 1260px) and (max-width: 1539px) {}
@media (min-width: 768px) and (max-width: 1259px) {}
@media (min-width: 1024px) and (max-width: 1259px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (max-width: 767px) {}
@media (min-width: 640px) and (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 639px) {}
@media (max-width: 479px) {}
