/*====================================================================*/
/*----------------------------- SECTION ------------------------------*/
/*====================================================================*/

.section {
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
}

@media (max-width: 1259px) {

    .section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media (max-width: 1023px) {

    .section {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}

@media (max-width: 639px) {

    .section {
        padding-top: 6.6rem;
        padding-bottom: 6.6rem;
    }
}

@media (max-width: 479px) {

    .section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

    .section__wrapper {
        display: flex;
        flex-direction: column;
    }

    .section__wrapper > * {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }

        @media (min-width: 1024px) {

            .section__narrow-content {
                width: 100%;
                max-width: 89.2rem;
                margin-right: auto;
                margin-left: auto;
            }
        }

/*---------------------------- TITLES ----------------------------*/

.section__title {
    margin: 0;
    margin-bottom: 8.8rem;

    font-size: 6.4rem;
    line-height: 6.8rem;
    text-align: center;
}

@media (max-width: 1259px) {

    .section__title {
        margin-bottom: 8rem;
    }
}

@media (max-width: 1023px) {

    .section__title {
        margin-bottom: 6rem;

        font-size: 5rem;
        line-height: 5.5rem;
    }
}

@media (max-width: 767px) {

    .section__title {
        margin-bottom: 5rem;

        font-size: 4.5rem;
        line-height: 5rem;
    }
}

@media (max-width: 639px) {

    .section__title {
        margin-bottom: 4.5rem;

        font-size: 4rem;
        line-height: 4.5rem;
    }
}

@media (max-width: 479px) {

    .section__title {
        margin-bottom: 4rem;

        font-size: 3.4rem;
        line-height: 4rem;
    }
}

.section__subtitle {
    display: flex;

    margin: 0;
    margin-bottom: 2.5rem;

    font-size: 4rem;
    font-weight: 300;
    line-height: 4.7rem;
    text-align: left;

    color: var(--color-primary);
}

@media (max-width: 1023px) {

    .section__subtitle {
        margin-bottom: 2.1rem;

        font-size: 3.4rem;
        line-height: 3.7rem;
    }
}

@media (max-width: 639px) {

    .section__subtitle {
        margin-bottom: 1.9rem;

        font-size: 3rem;
        line-height: 3.4rem;
    }
}

@media (max-width: 479px) {

    .section__subtitle {
        margin-bottom: 1.6rem;

        font-size: 2.5rem;
        line-height: 3rem;
    }
}

    .section__subtitle .icon {
        top: 0.1rem;

        flex-shrink: 0;

        width: 4.7rem;
        height: 4.7rem;
        margin-right: 2.5rem;

        stroke: currentColor;
    }

    @media (max-width: 1023px) {

        .section__subtitle .icon {
            width: 3.7rem;
            height: 3.7rem;
            margin-right: 2.1rem;

            stroke-width: 1.21621622;
        }
    }

    @media (max-width: 639px) {

        .section__subtitle .icon {
            width: 3.4rem;
            height: 3.4rem;
            margin-right: 1.6rem;

            stroke-width: 1.323529;
        }
    }

    @media (max-width: 479px) {

        .section__subtitle .icon {
            width: 3rem;
            height: 3rem;
            margin-right: 1.4rem;

            stroke-width: 1.40625;
        }
    }

/*---------------------------- NOTE ----------------------------*/

.section__note {
    position: relative;

    padding-top: 2.8rem;

    font-size: 2.4rem;
    font-weight: normal;
    font-style: italic;
    line-height: 3.7rem;
}

@media (max-width: 1023px) {

    .section__note {
        padding-top: 2.5rem;

        font-size: 2.1rem;
        line-height: 3.2rem;
    }
}

@media (max-width: 639px) {

    .section__note {
        font-size: 1.9rem;
        line-height: 2.8rem;
    }
}

.section__note:before,
.section__note:after {
    content: "";

    position: absolute;
    top: 0;
    left: 0px;

    background-color: var(--color-highlight);
}

.section__note:before {
    width: 100%;
    height: 0.1rem;
}

.section__note:after {
    width: 0.1rem;
    height: 1rem;
}

    .section__note .ui-text-arrow {
        margin-right: 0.4rem;
    }

/*---------------------------- BTN ----------------------------*/

.section__btn {
    align-self: center;

    margin-top: 8.8rem;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1259px) {

    .section__btn {
        margin-top: 8rem;
    }
}

@media (max-width: 1023px) {

    .section__btn {
        margin-top: 6.6rem;
    }
}

@media (max-width: 639px) {

    .section__btn {
        margin-top: 6rem;
    }
}

@media (max-width: 479px) {

    .section__btn {
        margin-top: 5rem;
    }
}

@media (min-width: 1260px) {}
@media (min-width: 1540px) {}
@media (min-width: 1260px) and (max-width: 1539px) {}
@media (min-width: 768px) and (max-width: 1259px) {}
@media (min-width: 1024px) and (max-width: 1259px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (max-width: 767px) {}
@media (min-width: 640px) and (max-width: 767px) {}
@media (min-width: 480px) and (max-width: 639px) {}
@media (max-width: 479px) {}
