/*====================================================================*/
/*----------------------------- MAIN-NAV -----------------------------*/
/*====================================================================*/

.main-nav__link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;

    text-decoration: none;
    text-transform: uppercase;

    color: var(--color-light);
    outline-offset: -0.2rem;

    contain: content;
}

.main-nav__link--active,
.main-nav__link:hover,
.main-nav__link:focus {
    color: var(--color-highlight);
}

.main-nav__link:before {
	content: "";

	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

    border: 0.1rem dashed currentColor;
	opacity: 0;

    transition: inherit;
    transition-property: opacity;
}

.main-nav__link:focus:before {
	opacity: 0.65;
}

.main-nav__link:focus-visible:before {
	opacity: 0;
}

.main-nav__link:-moz-focusring:before {
	opacity: 0;
}

    .main-nav__link .text {
        position: relative;

        transition: inherit;
        transition-property: opacity, transform;
    }

    .main-nav__link .text:before,
    .main-nav__link .text:after {
        content: "";

        position: absolute;

        transform: translateY(-0.5rem);
        transform-origin: top left;
        backface-visibility: hidden;

        background-color: currentColor;
        opacity: 0;

        transition: inherit;
    }

    .main-nav__link .text:before {
        bottom: 0px;
        left: 0.1rem;

        width: calc(100% - 0.2rem);
        height: 0.1rem;
    }

    .main-nav__link .text:after {
        top: calc(100% - 0.1rem);
        left: 0.1rem;

        width: 0.1rem;
        height: 0.4rem;
    }

    .main-nav__link--active .text:before,
    .main-nav__link--active .text:after {
        transform: translateY(0rem);

        opacity: 1;
    }

/*--------------------------------------------------------------------*/
/*----------------------------- DESKTOP ------------------------------*/
/*--------------------------------------------------------------------*/

@media (min-width: 1024px) {

    .main-nav {
        display: flex;
        justify-content: flex-end;
    }

        .main-nav__items {
            display: flex;
            flex-wrap: wrap;

            padding: 2.5rem 0;

            transition:
                padding var(--transition-duration-page-header-top) var(--transition-easing-page-header-top) 0s;
        }

        .main-nav__item,
        .main-nav__link {
            display: flex;
        }

            .main-nav__link {
                padding: 2.5rem 3rem;

                font-size: 2.1rem;
                line-height: 3.4rem;
                letter-spacing: 0.07em;
            }

            .main-nav__item:last-child .main-nav__link {
                margin-right: -3rem;
            }

            .main-nav__link:before {
                top: 1.5rem;
                left: 1rem;

                width: calc(100% - 1rem * 2);
                height: calc(100% - 1.5rem * 2);
            }
}

@media (min-height: 640px) and (min-width: 1024px) {

    .page-header__top--fixed .main-nav__items {
        padding-top: 0;
        padding-bottom: 0;

        transition:
            padding var(--transition-duration-page-header-top-fixed) var(--transition-easing-page-header-top-fixed) 0s;
    }
}

@media (min-width: 1024px) and (max-width: 1259px) {

    .main-nav__link {
        padding-right: 2rem;
        padding-left: 2rem;

        font-size: 1.9rem;
        line-height: 2.7rem;
    }

    .main-nav__item:last-child .main-nav__link {
        margin-right: -2rem;
    }

    .main-nav__link:before {
        top: 1rem;
        left: 0.5rem;

        width: calc(100% - 0.5rem * 2);
        height: calc(100% - 1rem * 2);
    }
}

/*--------------------------------------------------------------------*/
/*------------------------------ MOBILE ------------------------------*/
/*--------------------------------------------------------------------*/

@media (max-width: 1023px) {

    .main-nav {
        padding-top: 2.1rem;
        padding-bottom: 2.1rem;

        transition:
            padding var(--transition-duration-page-header-top) var(--transition-easing-page-header-top) 0s;
    }

        .main-nav__items {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9;

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            height: 100vh;

            visibility: hidden;

            overflow: auto;
            overflow-x: hidden;

            transition:
                transform 0.3s cubic-bezier(.0, .0, .5, .85) 0.1s,
                visibility 0s linear 0.41s;
            will-change: transform, background;
            contain: strict;
        }

        .main-nav__items:after {
            content: "";

            position: absolute;
            top: 0px;
            left: 0px;

            width: 100%;
            height: 100%;

            background-color: rgba(var(--color-dark-rgb), 0.8);
            opacity: 0;

            transition:
                opacity 0.3s cubic-bezier(.0, .0, .5, .85) 0.1s;
            will-change: opacity;
        }

        .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items,
        .no-js .main-nav__opener-toggle:checked ~ .main-nav__items {
            visibility: visible;

            transition:
                transform  0.275s cubic-bezier(.3, .1, .5, 0.9) 0s,
                background-color  0.275s cubic-bezier(.3, .1, .5, 0.9) 0s;
        }

        .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items:after,
        .no-js .main-nav__opener-toggle:checked ~ .main-nav__items:after {
            opacity: 1;

            transition:
                opacity  0.275s cubic-bezier(.3, .1, .5, 0.9) 0s;
        }

            .main-nav__item {
                position: relative;
                z-index: 2;

                margin: 1.25vh 0px;

                transform: translateY(-3rem);
                opacity: 0;

                transition:
                    transform 0.25s cubic-bezier(.0, .0, .5, .85),
                    opacity 0.25s cubic-bezier(.0, .0, .5, .85);
                will-change: transform, opacity;
            }

            .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item,
            .no-js .main-nav__opener-toggle:checked ~ .main-nav__items .main-nav__item {
                transform: translateY(0px);

                opacity: 1;

                transition:
                    transform 0.25s cubic-bezier(.3, .1, .5, 0.9),
                    opacity 0.25s cubic-bezier(.3, .1, .5, 0.9);
            }

            .main-nav__item:nth-child(5) {
                transition-delay: 0s;
            }

            .main-nav__item:nth-child(4) {
                transition-delay: 0.04s;
            }

            .main-nav__item:nth-child(3) {
                transition-delay: 0.08s;
            }

            .main-nav__item:nth-child(2) {
                transition-delay: 0.12s;
            }

            .main-nav__item:nth-child(1) {
                transition-delay: 0.16s;
            }

            .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item:nth-child(1),
            .no-js .main-nav__opener-toggle:checked ~ .main-nav__items .main-nav__item:nth-child(1) {
                transition-delay: 0s;
            }

            .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item:nth-child(2),
            .no-js .main-nav__opener-toggle:checked ~ .main-nav__items .main-nav__item:nth-child(2) {
                transition-delay: 0.04s;
            }

            .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item:nth-child(3),
            .no-js .main-nav__opener-toggle:checked ~ .main-nav__items .main-nav__item:nth-child(3) {
                transition-delay: 0.08s;
            }

            .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item:nth-child(4),
            .no-js .main-nav__opener-toggle:checked ~ .main-nav__items .main-nav__item:nth-child(4) {
                transition-delay: 0.12s;
            }

            .js .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item:nth-child(5),
            .no-js .main-nav__opener-toggle:checked ~ .main-nav__items .main-nav__item:nth-child(5) {
                transition-delay: 0.16s;
            }

            .main-nav__item:first-child {
                padding-top: 3rem;
                margin-top: auto;
            }

            .main-nav__item:last-child {
                padding-bottom: 3rem;
                margin-bottom: auto;
            }

                .main-nav__link {
                    padding: 0.8rem 3rem;

                    font-size: 2.7rem;
                    line-height: 4rem;
                    letter-spacing: 0.07em;
                }

    /*---------------------------- OPENER ----------------------------*/

    .main-nav__opener-toggle {
        position: relative;
        z-index: 2;

        display: inline-block;

        width: 4.6rem;
        height: 4.6rem;
        padding: 0;
        margin: 0;
        margin-right: -5rem;

        vertical-align: middle;
    }

    .main-nav__opener {
        position: relative;
        z-index: 10;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 5rem;
        height: 5rem;
        margin-right: -0.8rem;

        backface-visibility: hidden;

        font-size: 0;
        vertical-align: middle;

        color: var(--color-light);
        filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.35));
        cursor: pointer;

        transition-property: color, border-color, background, opacity;
    }

    .no-js .main-nav__opener-toggle:hover ~ .main-nav__opener,
    .no-js .main-nav__opener-toggle:checked ~ .main-nav__opener,
    .main-nav__opener:hover,
    .main-nav__opener[aria-expanded="true"] {
        color: var(--color-highlight);
    }

    .no-js .main-nav__opener-toggle:focus ~ .main-nav__opener,
    .main-nav__opener:focus {
        color: var(--color-highlight);
    }

    .main-nav__opener .text {
        transition: inherit;
        transition-property: opacity;
    }

    .main-nav__opener .text:after {
        content: "";

        position: absolute;
        top: 0px;
        left: 0px;

        width: 100%;
        height: 100%;

        border: 0.1rem dashed currentColor;
        opacity: 0;

        transition: inherit;
        transition-property: opacity;
    }

    .no-js .main-nav__opener-toggle:focus ~ .main-nav__opener .text:after,
    .main-nav__opener:focus .text:after {
        opacity: 0.65;
    }

    .no-js .main-nav__opener-toggle:focus-visible ~ .main-nav__opener .text:after,
    .main-nav__opener:focus-visible .text:after {
        opacity: 0;
    }

    .no-js .main-nav__opener-toggle:-moz-focusring ~ .main-nav__opener .text:after,
    .main-nav__opener:-moz-focusring .text:after {
        opacity: 0;
    }

    .no-js .main-nav__opener-toggle:focus ~ .main-nav__opener .text:after,
    .main-nav__opener:focus .text:after,
    .main-nav__opener:hover .text:after {
        transition: all var(--transition-change);
    }

    .main-nav__opener .text:before,
    .main-nav__opener:before,
    .main-nav__opener:after {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;

        width: 3.4rem;
        height: 0.1rem;
        margin-left: -1.7rem;

        transform-origin: center center;
        backface-visibility: hidden;

        color: inherit;
        background: currentColor;
        opacity: 1;

        transition: opacity var(--transition),
            transform var(--transition);
        will-change: opacity;
    }

    .main-nav__opener .text:before {
        margin-top: 0px;
    }

    .main-nav__opener:before {
        margin-top: -1rem;
    }

    .main-nav__opener:after {
        margin-top: 1rem;
    }

    .no-js .main-nav__opener-toggle:checked ~ .main-nav__opener .text:before,
    .main-nav__opener[aria-expanded="true"] .text:before {
        opacity: 0;
    }

    .no-js .main-nav__opener-toggle:checked ~ .main-nav__opener:before,
    .main-nav__opener[aria-expanded="true"]:before {
        transform: translateY(1rem) rotate(45deg);
    }

    .no-js .main-nav__opener-toggle:checked ~ .main-nav__opener:after,
    .main-nav__opener[aria-expanded="true"]:after {
        transform: translateY(-1rem) rotate(-45deg);
    }
}

@media (max-width: 767px) {

    .main-nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 639px), (max-height: 579px) and (max-width: 1023px) {

    .main-nav__item {
        transform: translateY(-2rem);
    }

    .main-nav__opener[aria-expanded="true"] ~ .main-nav__items .main-nav__item {
        transform: translateY(0px);
    }

    .main-nav__item:first-child {
        padding-top: 2rem;
    }

    .main-nav__item:last-child {
        padding-bottom: 2rem;
    }

        .main-nav__link {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            font-size: 2.3rem;
            line-height: 3.4rem;
            letter-spacing: 0.07em;
        }
}

@media (min-height: 480px) and (max-width: 1023px) {

    .page-header__top--fixed .main-nav {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;

        transition:
            padding var(--transition-duration-page-header-top-fixed) var(--transition-easing-page-header-top-fixed) 0s;
    }
}

@media (min-height: 480px) and (max-width: 767px) {

    .page-header__top--fixed .main-nav {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (max-height: 479px) and (max-width: 1023px) {

    .main-nav__items {
        position: absolute;
        top: 100%;
        right: var(--page-padding);
        left: auto;

        transform: translateY(-1rem);

        width: 24rem;
        height: auto;

        contain: content;
    }

    .main-nav__opener[aria-expanded="true"] ~ .main-nav__items {
        transform: translateY(0px);
    }

        .main-nav__link {
            display: inline-block;
            width: 24rem;

            font-size: 1.9rem;
            line-height: 2.8rem;
            text-align: left;
        }

        .main-nav__link:before {
            left: 0.09rem;

            width: calc(100% - 1.5rem * 2);
        }

            .main-nav__link .text {
                display: inline-block;
            }
}

@media (max-width: 1023px) {

    .no-js .main-nav__items {
        position: absolute;
        top: 100%;
        right: var(--page-padding);
        left: auto;

        transform: translateY(-1rem);

        width: 24rem;
        height: auto;

        contain: content;
    }

    .no-js .main-nav__opener-toggle:checked ~ .main-nav__items {
        transform: translateY(0px);
    }

        .no-js .main-nav__item {
            margin: 0;
        }

        .no-js .main-nav__item:first-child {
            padding-top: 2rem;
        }

        .no-js .main-nav__item:last-child {
            padding-bottom: 2rem;
        }

            .no-js .main-nav__link {
                display: inline-block;
                width: 24rem;

                font-size: 1.9rem;
                line-height: 2.8rem;
                text-align: left;
            }

            .no-js .main-nav__link:before {
                left: 1.5rem;

                width: calc(100% - 1.5rem * 2);
            }

                .no-js .main-nav__link .text {
                    display: inline-block;
                }
}
